<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div class="gap-bottom">
        <span class="page-name">Add Expense</span>
        <button class="button" mat-raised-button color="primary" type="button" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon> Go Back
        </button>
        <button class="button" mat-raised-button color="primary" type="submit" [disabled]="!expenseForm.valid">
            <mat-icon>check</mat-icon> Save</button>
    </div>
    <hr>
    <div class="row">
        <mat-form-field appearance="fill" class="col-sm-4 field">
            <mat-label>Dog ID</mat-label>
            <input matInput formControlName="dogID" readonly>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill" class="col-sm-4 field">
            <mat-label>Expense Category</mat-label>
            <mat-select formControlName="category_name" required>
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="expenseForm.get('category_name')?.hasError('required')">
                Expense Category is required.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill" class="col-sm-8 field">
            <mat-label>Vendor Name</mat-label>
            <input matInput formControlName="vendor_name" required>
            <mat-error *ngIf="expenseForm.get('vendor_name')?.hasError('required')">
                Vendor Name is required.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill" class="col-sm-4 field">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" readonly="true"
                (click)="picker.open()">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="expenseForm.get('date')?.hasError('required')">
                Date is required.
            </mat-error>
            <mat-error *ngIf="expenseForm.get('date')?.hasError('beforeSurrenderDate')">
              Expense date must be after the dog's surrender date.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill" class="col-sm-4 field">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" required type="text">
            <mat-error *ngIf="expenseForm.get('amount')?.hasError('required')">
                Amount is required.
            </mat-error>
            <mat-error *ngIf="expenseForm.get('amount')?.hasError('min')">
                Amount must be greater than 0.
            </mat-error>
            <mat-error *ngIf="expenseForm.get('amount')?.hasError('pattern')">
                Enter a valid amount.
            </mat-error>
        </mat-form-field>
    </div>
</form>
