.button {
    display: flex;
    float: right !important;
}

.page-name {
    font-size: x-large;
    width: 100%;
}

.field {
    font-size: small;
    padding-bottom: 0%;
    height: 70px;
}

.option {
    min-height: 30px;
    font-size: smaller;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}
.buttoncontainer{
    text-align: center;
}