<form [formGroup]="dogForm" (ngSubmit)="onSubmit()">
    <div class="gap-bottom">
        <span class="page-name">Add Dog</span>
        <button class="button" mat-raised-button color="primary" type="button" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon> Go Back
        </button>
        <button class="button" mat-raised-button color="primary" type="submit" [disabled]="!dogForm.valid">
            <mat-icon>check</mat-icon> Add</button>
    </div>
    <hr>
    <div>
        <div class="row">
            <mat-form-field appearance="fill" class="col-sm-4 field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required="true">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-2 field">
                <mat-label>Sex</mat-label>
                <mat-select formControlName="sex">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Unknown">Unknown</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-2 field">
                <mat-label>Age when Surrendered</mat-label>
                <input matInput type="number" formControlName="age" required="true">
            </mat-form-field>
            <mat-checkbox color="primary" formControlName="alteration_status" class="col-sm-4">
                Alteration Status
            </mat-checkbox>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-sm-6 field">
                <mat-label>Breeds</mat-label>
                <mat-select formControlName="breeds" multiple (selectionChange)="onBreedsChange($event)"
                    required="true">
                    <mat-select-trigger>
                        {{ selectedBreedsDisplay }}
                      </mat-select-trigger>
                    <mat-option *ngFor="let breed of breedsList" [value]="breed" [disabled]="
                      (isMixedOrUnknownSelected && !['Mixed', 'Unknown'].includes(breed)) || 
                      (selectedMixed && breed === 'Unknown') || 
                      (selectedUnknown && breed === 'Mixed')">
                        {{ breed }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-sm-8 field">
                <mat-label>Microchip ID</mat-label>
                <input matInput formControlName="microchipID">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-4 field" *ngIf="microchipIDControl?.value">
                <mat-label>Vendor Name</mat-label>
                <mat-select formControlName="microchip_vendor">
                    <mat-option *ngFor="let vendor of vendorList" [value]="vendor">
                        {{ vendor }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-sm-8 field">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill" class="col-sm-6 field">
                <mat-label>Surrender Date</mat-label>
                <input matInput formControlName="surrender_date" type="date">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-sm-4 field">
                <mat-label>Surrenderer Phone</mat-label>
                <input matInput formControlName="surrenderer_phone">
            </mat-form-field>
            <mat-checkbox formControlName="surrendered_by_animal_control">
                Surrendered by Animal Control
            </mat-checkbox>
        </div>
    </div>
</form>